<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Courgette&family=Josefin+Sans&family=Monoton&family=Oswald&family=Parisienne&family=Raleway&family=Sacramento&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    </head>

    <body style=background-color:deepskyblue;>
    
        <h1>To-Do List</h1>
        {%for todo in todos%}
            <li>{{todo}}</li>
        {%endfor%}
        <form>
                <textarea name="new_todo">
                </textarea>
                <input type="submit">  
        </form>
        <ul>
        
        </ul>
    </body>
</html>